@import 'partials/base';
@import 'partials/leaflet';

/* 

Zipstagram Styles 1.0
Author: Michael J. Champlin
URL: http://mjchamplin.com

*/

/*	Resets  */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,header,footer,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


html { height: 100%;}
body { background: black; height: 100%; font-family: Helvetica, Arial, sans-serif; }


#container {
	height: 100%;
	width: 100%;
	
}

.line{
	margin-left: -1px;
	width: 1px;
	height: 100%;
	@include inline-block;
	vertical-align: middle;
}


$header-height: 60px;
#header{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;
	width: 100%;
	height: $header-height;
	border-bottom: 5px solid $base-green;
	background-color: $base-white;
	
	& h1{
		@include adjust-font-size-to( 28px );
		//margin: 10px 0 0 30px;
		height: 100%;
		font-weight: normal;
		margin-left: 1em;
		font-family: "Helvetica", "Arial", sans-serif;
		color: $base-color;
		
		& span{
			@include inline-block;
		}
	}

	& .right{
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		
		& .line, & #nav{
			@include inline-block;
		}
				
		& #nav{
			@include adjust-font-size-to( 14px, 0.5 );
			text-transform: lowercase;
			padding-right: 4em;
			
			& span{
				@include inline-block;
			
				&.view{
					color: $base-green;
				}
				&.current{
					
				}
				&.hashtag{
					border-left: 1px solid $base-color;
					padding-left: 0.5em;
					margin-left: 0.5em;
					color: $base-green;
					position: relative;
					cursor: pointer;
					cursor: hand;
					
					$selectRad: 6px;
					& #hashSelect{
						@include adjust-font-size-to( 12px, 1.25 );
						background: $base-white;
						display: none;
						right: 0;
						top: 2em;
						@include pie;
						position: absolute;
						@include border-radius( 0 0 $selectRad $selectRad );
						@include box-shadow( #000 0 2px 6px -3px );
						padding-left: 1em;
						padding-right: 1em;						
						color: $base-orange;
						
						& div{
							@include padding-leader(0.25);
							@include padding-trailer(0.25);
							cursor: pointer;
							cursor: hand;
							
							&:hover{
								color: darken( $base-orange, 20%);
							}
						}
					}
					
					& .text{}
					& .icon{
						@include main-sprite;
						background-position: 0 -260px;
						height: 11px;
						width: 11px;
						margin-left: 0.25em;
					}
				}
			}
		}
	}
}

$logo-height: 186px;
$logo-width: 246px + 2px;
$logo-left: 8px;
$big-height: 133px;
$big-width: 133px;
$small-height: 75px;
$small-width: 75px;
$nav-width: 50px;
$icon-height: 25px;
$icon-width: 25px;
$cont-padd: 6px;
$trans-time: 0.15s;
$pic-right: 9px;
$img-bord: 1px;
$img-color: lighten( $base-grey, 40% );

.clone{
	position: fixed;
	z-index: 2000;
	border: $img-bord solid $img-color;
}


#footer-wrap{
	position: fixed; 
	bottom: 0; 
	left: 0;
	width: 100%; 
	z-index: 3; 
		
	& #subfooter{
		//background: #bad;
		position: relative;
		z-index: 2;
		height: $big-height + $img-bord * 2;
		margin-bottom: -( floor( ( $big-height - $img-bord * 2 - $small-height - $cont-padd*2 ) / 2 ) ) + $cont-padd;

		& #zip-logo { 
			position: absolute;
			z-index: 3;
			top: 0;
			right: 0;
			width: $logo-width;
			height: $logo-height;
			@include main-sprite;
			background-position: 0 0;
		}

		& #carousel{
			height: $big-height + $img-bord * 2;
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			
			& #carousel-bg{
				height: $small-height + $cont-padd * 2;
				position: absolute;
				top: floor( ( $big-height + $img-bord * 2 - ( $small-height + $cont-padd * 2) ) / 2);
				width: 100%;
				z-index: 1;
				
				& #bg-inner{
					background: $base-grey;
					@include opacity( 0.55 );
					height: 100%;
					margin: 0 $cont-padd;
				}
			}
			& #carousel-wrap{
				height: $big-height + $img-bord * 2;
				position: relative;
				z-index: 2;
				//background: #bada55;
				//@include opacity( 0.1 );
				margin-right: $logo-width + $logo-left;
				
				& .nav{
					height: 100%;
					width: $nav-width;
					text-align: center;
					//background: lighten( red, 40% );
					position: absolute;
					
					& .icon{
						@include inline-block;
						vertical-align: middle;
						height: $icon-height;
						width: $icon-width;
						background: red;
					}
					&.next{
						right: 0;
					}
					&.prev{
						left: 0;
					}
				}
				
				& #carousel-inner{
					height: $big-height + $img-bord * 2;
					margin-left: $nav-width;
					margin-right: $nav-width;
					position: relative;
					overflow: hidden;
					//background: #badaff;
					
					& #carousel-images{
						//padding-left: $nav-width;
						position: absolute;
						top: floor( ($big-height - $img-bord * 2 - $small-height) / 2 );
						left: 0;
						height: $small-height;
						width: 999999em;
						//background: darken( #badaff, 20% );
						
						& .pic{
							height: $small-height;
							width: $small-width;
							position: relative;
							@include float-left;
							display: block;
							z-index: 1;
							margin-right: $pic-right;
							
							& img{
								position: absolute;
								top: 0;
								left: 0;
								display: block;
								border: $img-bord solid $img-color;
								height: $small-height;
								width: $small-width;
								
								//@include single-transition( all, $trans-time, ease-in-out );
							}
							
							&:hover{
								z-index: 2;
								
								//& img{
								//	height: $big-height;
								//	width: $big-width;
								//	top: -1 * floor( ($big-height - $small-height) / 2 ) + $img-bord;
								//	left: -1 * floor( ($big-width - $small-width) / 2 ) + $img-bord;
								//}
							}
						}
					}
				}
			}
		}
	}

/*
<div id="subfooter">
  <div id="carousel">
  	<div id="carousel-bg"></div>
    <div id="carousel-wrap">
      <div class="nav next"></div>
      <div class="nav prev"></div>
      <div id="carousel-inner">
        <div id="carousel-images"></div>
      </div>
    </div>
  </div>
	<div id="zip-logo"></div>
</div>
*/

/*
 #carousel {
		position: fixed; 
		bottom: 130px;
     width: 100%;
     background-color: #000;
     height: 70px;
     padding: 10px 0;
     background-color: rgba(0, 0, 0, .3);
 }
 
 #carousel img { float: left; display: block; margin-left: 8px;}
 
#carousel .zoom {
		float: left;
     z-index: 0;
 }
#carousel .end {
     margin-right: 0;
 }
 //.clear {
 //    clear: both;
 //}
#carousel .zoom a img {
     position: relative;
 }
*/

	
	& #footer{
		position: relative;
		border-top: 1px solid #888; 
		background-color: #565a5c; 
		//background-color: #badaff;
		height: 120px;
		z-index: 1;
	}
}

#map{
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
}


#popunder{
	background: #000;
	display: block;
	@include opacity(0.2);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
}
#popup{
	z-index: 0;
	@include pie;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: $base-white;
	@include inline-block;
	@include padding-leader();
	@include padding-trailer();
	padding-left: 1em;
	padding-right: 1em;
	@include border-radius( 12px );
	@include box-shadow( #000 0 6px 24px 0px );
	
	$nav-height: 20px;
	$nav-width: 20px;
	$nav-spacing: 12px;
	& .nav{
		position: absolute;
		top: 50%;
		margin-top: -1 * floor( $nav-height / 2);
		background: #bad;
		width: $nav-width;
		height: $nav-height;
		
		&.next{
			right: -( $nav-spacing + $nav-width );
		}
		&.prev{
			left: -( $nav-spacing + $nav-width );
		}
	}
	& .nav, & .close{
		cursor: pointer;
		cursor: hand;
	}
	& .close{
		background: red;
		height: 14px;
		width: 14px;
		position: absolute;
		top: 1em;
		right: 1em;
		
		&:hover{
			background: darken( red, 20% );
		}
	}
}



.insta-wrap{
	padding-left: 1em;
	padding-right: 1em;
	@include adjust-font-size-to( 14px );
	
	& .pic, & .info{
		@include inline-block;
		vertical-align: middle;
	}
	& .pic{
		max-width: 260px;
		margin-right: 1.5em;
		
		& img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
	
	& .info{
		width: 260px;

		@include padding-leader(2);
		@include padding-trailer(2);

		& .user{
			@include padding-trailer();
			
			& span{
				@include inline-block;
				
				&.user-pic{
					max-width: 42px;
					margin-right: 1em;
					
					& img{
						display: block;
						width: 100%;
						height: auto;
					}
				}
				&.user-name{
					color: $base-orange;
					font-weight: 600;
				}
			}
		}
		
		& .description{
			font-style: italic;
			@include padding-trailer(2);
			@include adjust-font-size-to( 12px, 1.25 );
			& .tag{
				color: $base-green;
			}
		}
		
		& .where{
			//display: none;
			
			& span{
				@include inline-block;
				
				&.title{
					text-transform: uppercase;
					font-weight: bold;
					color: $base-green;
					@include adjust-font-size-to( 11px );
				}
				&.location{}
			}
		}
	}
}

/*
function makeBlockContent( data ){
	console.log( 'makeBlockContent', data );
	
	var block = '<div class="insta-wrap">'+
					makeImageBlock( data.images.low_resolution )+
					'<div class="info">'+
						makeUserBlock( data.profile_picture, data.user )+
						'<div class="description">'+
							data.description+
						'</div>'+
						makeWhereZip( data.latitude, data.longitude )+
					'</div>'+
				'</div>';
	
	return block;
}

function makeWhereZip( lat, lng ){
	return '<div lat="'+lat+'" lng="'+lng+'" class="where">'+
				'<span class="title">Where I Zip</span>'+
				'<span class="location"></span>'+
			'</div>';
}

function makeUserBlock( pic, name ){
	return '<div class="user">'+
				'<span class="user-pic"><img src="'+pic+'" /></span>'+
				'<span class="user-name">'+name+'</span>'+
			'</div>';
}

function makeImageBlock( img ){
	return '<div class="pic">'+
				'<img src="'+img.url+'" />'+
			'</div>'
}
*/

.clearfix, .clear{
	@include pie-clearfix;
}

#hashtag-json{
	display: none;
}